<h1>Make a Transfer</h1>

{% if message %}
  <p class="flash-message">{{ message }}</p>
{% endif %}
<form method="POST" action="/transfer">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <pre>
  <label for="from">From   </label> <input id="from" name="from" placeholder="Enter source account" />
  <label for="to">To     </label> <input id="to" name="to" placeholder="Enter destination account" />
  <label for="amount">Amount </label> <input id="amount" name="amount" placeholder="Enter transfer amount" />
         <input type="submit" value="Transfer">
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  </pre>
</form>
<p><a href="/dashboard">Back to Dashboard</a></p>